<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="example.test.archbiz2015" >

    <permission
        android:name="example.test.archbiz2015.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="permission.MA" >
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCdTYSczoynysu5Vnm6kWp6F2pv_S6IbkI" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".GirdViewTest"
            android:label="@string/title_activity_gird_view_test" >
        </activity>
    </application>

</manifest>
